<div class="hypnonema" cdkDrag >
    <mat-card>
      <mat-card-title cdkDragHandle class="toolbar">
        <mat-toolbar color="primary">
          <span>Hypnonema</span>
          <span class="spacer"></span>
          <button mat-icon-button (click)="close()"><mat-icon>close</mat-icon></button>
        </mat-toolbar>
      </mat-card-title>
    <mat-card-content>
      <mat-accordion multi="true">
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Controls
            </mat-panel-title>
            <mat-panel-description>
              Manage Player State
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>

            <button class="controls" *ngIf="paused" mat-fab color="primary" (click)="resume()"><mat-icon >play_arrow</mat-icon></button>
            <button class="controls" *ngIf="!paused" mat-fab color="gray" (click)="pause()"><mat-icon >pause</mat-icon></button>
            <button mat-fab color="warn" (click)="stop()"><mat-icon style="color: black;">stop</mat-icon></button>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Volume
            </mat-panel-title>
            <mat-panel-description>
              Volume & Volume Settings
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <p>Global Volume</p>
            <mat-slider (change)="volumeChange($event)" [(ngModel)]="volume" thumbLabel min="0" max="100" value="100" step="5"></mat-slider>
            {{volume}}
            <br />
            <small><i>Hint: This is the global volume which is used for the actual volume calculation. <br />(you may refer to it as max volume)</i></small>
          </div>
          <div>
            <p>Sound Min Distance</p>
            <mat-slider thumbLabel min="1" [(ngModel)]="soundMinDistance" (change)="soundMinDistanceChange($event)" max="100" value="15" step="1"></mat-slider>
            {{soundMinDistance}}
            <br />
            <small><i>Hint: The minimum distance is the distance under which the sound will be heard at its maximum volume.</i></small>
          </div>
          <div>
            <p>Sound Attenuation</p>
            <mat-slider thumbLabel min="0" max="100" [(ngModel)]="soundAttenuation" (change)="soundAttenuationChange($event)" value="5" step="5"></mat-slider>
            {{soundAttenuation}}
            <br />
            <small><i>Hint: The greater the attenuation, the less it will be heard when the sound moves away from the listener.</i></small>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Playback
            </mat-panel-title>
            <mat-panel-description>
              Play Videos
            </mat-panel-description>
          </mat-expansion-panel-header>
          <form [formGroup]="playForm" (ngSubmit)="play(playForm.value)">
            <p>
              <mat-form-field>
                <mat-label>URL</mat-label>
                <input matInput type="url" required formControlName="videoURL" id="videoURL" placeholder="Enter Video URL">
              </mat-form-field>
            </p>
            <p>
              <mat-form-field>
                <mat-label>Video Type</mat-label>
                <mat-select required formControlName="videoType" >
                  <mat-option value="auto">Auto</mat-option>
                  <mat-option value="video/youtube">YouTube</mat-option>
                  <mat-option value="other">Other</mat-option>
                </mat-select>
              </mat-form-field>
              <br />
              <small><i>Hint: Auto won't work with YouTube!</i></small>
            </p>
            <p *ngIf="playForm.get('videoType').value === 'other'">
              <mat-form-field>
                <input  matInput formControlName="customVideoType" placeholder="Enter custom Video Type"  [appEnableControl]="playForm.get('videoType').value === 'other'">
              </mat-form-field>
            </p>
            <button mat-raised-button type="submit" matTooltip="Please recheck your input!" [matTooltipDisabled]="playForm.valid"  [disabled]="!playForm.valid" color="primary" >Play!</button>
          </form>
        </mat-expansion-panel>
      </mat-accordion>

    </mat-card-content>
    </mat-card>
  </div>
