matrix:
  include:
    - language: node_js
      node_js:
        - "10"
      dist: trusty
      sudo: required

      branches:
        only:
        - master

      before_script:
        - cd src/Hypnonema.NUI
        - npm install -g @angular/cli
      script:
        - npm install
        - ng lint
        - npm run build

    - language: csharp
      solution: Hypnonema.sln
     
