mat-form-field {
  width: 90px;
  max-width: 90px;
  max-height: 50px;
}
.mat-accent .mat-slider-thumb-label-text {
  color: azure!important;
}

.current-track {
  & {
    background: rgb(40, 40, 40);    border-top: 1px solid rgb(24, 24, 24);
    padding: 15px 45px 5px 45px;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  &__actions {
    & {
      padding-right: 20px;
      padding-left: 10px;
      width: 5%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    }

    a {
      font-size: 24px;
      color: rgb(200, 200, 200);

      &:hover {
        color: rgb(255, 255, 255);
        cursor: pointer;
      }
    }



    .play {
      font-size: 36px;;
    }
  }

  &__screenCtrl {
    & {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      color: azure;
      font-size: medium;
    }
  }

  &__progress {
    &__start {
      width: 10%;
      padding-left: 8%;
      display: flex;
    }
    & {
      width: 70%;
      padding: 0 30px;
      color: rgb(170, 170, 170);
      font-size: 11px;

      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
    }

    &__bar {
      width: 80%;
      padding: 0 15px;
    }
    mat-slider {
      width: 100%;
      padding: 0 15px;
    }
  }
}
