<section *ngIf="(screens$ | async)" class="current-track">
  <ng-template [ngIf]="(screen$ | async)">
    <div class="current-track__actions">

      <a (click)="repeat(selectedScreenName)" class="repeat" mat-icon-button>
        <ng-template [ngIfElse]="isNotRepeated" [ngIf]="(screen$ | async)?.repeat">
          <mat-icon color="accent">repeat</mat-icon>
        </ng-template>
        <ng-template #isNotRepeated>
          <mat-icon>repeat</mat-icon>
        </ng-template>
      </a>

      <a (click)="stop(selectedScreenName)" class="stop" mat-icon-button>
        <mat-icon>stop</mat-icon>
      </a>
      <a (click)="resumeOrPause(this.isPaused)" *ngIf="!(screen$ | async)?.isPaused" aria-label="Pause or Resume" class="play"
         mat-icon-button>
        <mat-icon>pause</mat-icon>
      </a>
      <a (click)="resumeOrPause(this.isPaused)" *ngIf="(screen$ | async)?.isPaused" aria-label="Resume" class="play"
         mat-icon-button>
        <mat-icon>play_arrow</mat-icon>
      </a>
    </div>
    <div class="current-track__progress">
      <div class="current-track__progress__start">
        {{getHours(startCurrentTime + ticks)}}:{{getMinutes(startCurrentTime + ticks)}}
        :{{getSeconds(startCurrentTime + ticks)}}</div>
      <div class="current-track__progress__bar">
        <mat-slider (change)="onSliderChange($event)" [(ngModel)]="startCurrentTime+ticks" [displayWith]="formatSliderLabel" [max]="sliderCap" color="primary" min="0"
                    step="1" thumbLabel></mat-slider>
      </div>
      <div class="current-track__progress__finish">{{(screen$ | async)?.duration | minuteSeconds}}</div>
    </div>
  </ng-template>
  <div class="current-track__screenCtrl">
    <mat-form-field>
      <mat-label>Selected Screen</mat-label>
      <mat-select (ngModelChange)="onSelectionChange($event)" [(ngModel)]="selectedScreenName" name="screen">
        <mat-option *ngFor="let screen of screens$ | async" [value]="screen.screenName">
          {{screen.screenName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</section>
