<mat-card>
  <mat-card-header>
    <mat-card-title>Create Screen</mat-card-title>
    <mat-card-subtitle>Create a new Screen which can be used to play videos on</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-horizontal-stepper #stepper [linear]="true">
      <mat-step [stepControl]="screenForm">
        <form [formGroup]="screenForm">
          <ng-template matStepLabel>Enter details</ng-template>
          <mat-form-field>
            <input formControlName="name" matInput placeholder="Name" required>
            <mat-hint>The name is for you to better distinct between screens and <strong>must be unique!</strong>
            </mat-hint>
            <mat-error>Please enter a name</mat-error>
          </mat-form-field>
          <div style="padding-bottom: 5px; padding-top: 20px;">
            <mat-checkbox formControlName="alwaysOn"
                          matTooltip="whether to always show the screen even if no video is playing">Always On
            </mat-checkbox>
          </div>

          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="renderTargetForm">
        <form [formGroup]="renderTargetForm">
          <ng-template matStepLabel>RenderTarget Settings</ng-template>
          <mat-checkbox formControlName="is3DRendered">Is 3D Rendered</mat-checkbox>
          <div *ngIf="renderTargetForm.get('is3DRendered').value === false">
            <mat-form-field>
              <input [appEnableControl]="renderTargetForm.get('is3DRendered').value === false" formControlName="modelName"
                     matInput matTooltip="The name of the model to which the rendertarget belongs"
                     placeholder="Model-Name" required>
              <mat-error>Please enter a name</mat-error>
            </mat-form-field>
            <mat-form-field style="padding-left: 5px;">
              <input [appEnableControl]="renderTargetForm.get('is3DRendered').value === false" formControlName="renderTargetName" matInput
                     placeholder="RenderTarget Name" required>
              <mat-error>Please enter a valid renderTarget</mat-error>
            </mat-form-field>
          </div>
          <div *ngIf="renderTargetForm.get('is3DRendered').value === true">
            <div>
              <mat-form-field>
                <input [appEnableControl]="renderTargetForm.get('is3DRendered').value === true" formControlName="positionX" matInput required
                       type="number">
                <mat-error>Please enter X Position</mat-error>
                <mat-label>Position X</mat-label>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input [appEnableControl]="renderTargetForm.get('is3DRendered').value === true" formControlName="positionY" matInput required
                       type="number">
                <mat-error>Please enter Y Position</mat-error>
                <mat-label>Position Y</mat-label>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input [appEnableControl]="renderTargetForm.get('is3DRendered').value === true" formControlName="positionZ" matInput required
                       type="number">
                <mat-error>Please enter Z Position</mat-error>
                <mat-label>Position Z</mat-label>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input [appEnableControl]="renderTargetForm.get('is3DRendered').value === true" formControlName="rotationX" matInput required
                       type="number">
                <mat-error>Please enter X Rotation</mat-error>
                <mat-label>Rotation X</mat-label>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input [appEnableControl]="renderTargetForm.get('is3DRendered').value === true" formControlName="rotationY" matInput required
                       type="number">
                <mat-error>Please enter Y Rotation</mat-error>
                <mat-label>Rotation Y</mat-label>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input [appEnableControl]="renderTargetForm.get('is3DRendered').value === true" formControlName="rotationZ" matInput required
                       type="number">
                <mat-error>Please enter Z Rotation</mat-error>
                <mat-label>Rotation Z</mat-label>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input [appEnableControl]="renderTargetForm.get('is3DRendered').value === true" formControlName="scaleX" matInput required
                       type="number">
                <mat-error>Please enter X Scale</mat-error>
                <mat-label>Scale X</mat-label>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input [appEnableControl]="renderTargetForm.get('is3DRendered').value === true" formControlName="scaleY" matInput required
                       type="number">
                <mat-error>Please enter Y Scale</mat-error>
                <mat-label>Scale Y</mat-label>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input [appEnableControl]="renderTargetForm.get('is3DRendered').value === true" formControlName="scaleZ" matInput required
                       type="number">
                <mat-error>Please enter Z Scale</mat-error>
                <mat-label>Scale Z</mat-label>
              </mat-form-field>
            </div>
          </div>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="soundForm">
        <form [formGroup]="soundForm">
          <ng-template matStepLabel>Sound Settings</ng-template>
          <div style="margin-top: 20px;">
            <em>Global Volume</em>
            <mat-slider [max]="100" [min]="1" formControlName="globalVolume" step="1" thumbLabel
                        value="100"></mat-slider>
            {{soundForm.get('globalVolume').value}}
          </div>
          <div>
            <mat-checkbox formControlName="is3DAudioEnabled">Use 3D Audio</mat-checkbox>
            <br/>
            <mat-hint><i>Hint: 3D Audio may impact CPU performance!</i></mat-hint>
            <br/>
            <br/>
          </div>
          <div *ngIf="soundForm.get('is3DAudioEnabled').value === false">
            <div>
              <em>Sound Attenuation</em>
              <mat-slider [max]="100" [min]="1" formControlName="soundAttenuation" step="1" thumbLabel
                          value="5"></mat-slider>
              {{soundForm.get('soundAttenuation').value}}
            </div>
            <div>
              <em>Sound Min. Distance</em>
              <mat-slider [max]="250" [min]="1" formControlName="soundMinDistance" step="1" thumbLabel
                          value="10"></mat-slider>
              {{soundForm.get('soundMinDistance').value}}
            </div>
            <div>
              <em>Sound Max. Distance</em>
              <mat-slider [max]="1000" [min]="1" formControlName="soundMaxDistance" step="10" thumbLabel
                          value="100"></mat-slider>
              {{soundForm.get('soundMaxDistance').value}}
            </div>
          </div>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button (click)="createScreen()" color="primary" mat-raised-button>Submit</button>
          </div>
        </form>
      </mat-step>
    </mat-horizontal-stepper>

  </mat-card-content>
</mat-card>
