<div class="header pl-3 pt-2 pr-3">
  <div class="status clearfix">
    <div class="status-connectivity pull-left pr-0 mr-0"></div>
    <div class="status-battery pull-right"></div>
  </div>
  <div class="pt-4">
    <div style="display: inline-block;">
      <button type="button" class="btn btn-outline-light btn-lg "  (click)="isNavbarCollapsed = !isNavbarCollapsed"
      [attr.aria-expanded]="!isNavbarCollapsed" aria-controls="app-navbar">
        <fa-icon [icon]="faBars"></fa-icon>
      </button>
    </div>
    <div id="close" class="pr-4 float-right">
      <button (click)="close()" type="button" class="btn btn-outline-danger btn-lg pr-3">
        <fa-icon [icon]="faClose"></fa-icon>
      </button>
    </div>
    <div class="status-title mx-auto"></div>

  </div>
</div>

<div class="pl-3" id="app-navbar" [ngbCollapse]="isNavbarCollapsed">
  <nav id="sidebar" class="pl-4">
    <button type="button" id="dismiss" class="btn btn-link pt-2" (click)="isNavbarCollapsed=!isNavbarCollapsed" [attr.aria-expanded]="!isNavbarCollapsed" aria-controls="app-navbar">
      <fa-icon [icon]="faArrowLeft"></fa-icon>
    </button>

    <div class="sidebar-header pt-5">
      <h4>Navigation</h4>
    </div>

    <ul class="list-unstyled components">
      <li>
          <a class="btn btn-link btn-lg" [routerLinkActive]="['active']" (click)="isNavbarCollapsed=!isNavbarCollapsed" routerLink="/playback">
            <fa-icon [icon]="faFilm"></fa-icon>
            Playback
          </a>
      </li>
      <li>
        <a class="btn btn-link btn-lg" routerLink="/settings" (click)="isNavbarCollapsed=!isNavbarCollapsed">
          <fa-icon [icon]="faCogs"></fa-icon>
          Settings</a>
      </li>
      <li>
        <a class="btn btn-link btn-lg" routerLink="/history" (click)="isNavbarCollapsed=!isNavbarCollapsed">
          <fa-icon [icon]="faHistory"></fa-icon>
          History
        </a>
      </li>
    </ul>
  </nav>

</div>
<div *ngIf="!isNavbarCollapsed" [ngClass]="{'active': !isNavbarCollapsed}" class="overlay"></div>
