
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#wrapper {
  width: 100%;
  height: 100%;
  max-width: 993px;
  max-height: 658px;
  min-width: 993px;
  min-height: 658px;
  margin: 0 auto;
}
#wrapper2 {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
}
#content {
  box-sizing: border-box;
  background: url(assets/bg.png) center center no-repeat;
  background-size: contain;
  padding: 5.9% 7.5% 12.8%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mat-form-field {
  width: 250px;
}

.mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label, .mat-accent .mat-slider-track-fill  {
  background-color: #bc13fe;
}
