/* You can add global styles to this file, and also import other style files */
@import './variables';
@import '~bootstrap/scss/bootstrap';
@import './bootswatch';

html, body {
  height: 100vh;
  overflow: hidden;
  background-color: transparent!important;
}
