.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 390px;
}

.loading-spinner {
  left: 40%;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1)
{
  flex: 0 0 5%;
}
.mat-cell:nth-child(5),
.mat-header-cell:nth-child(5)
{
  flex: 0 0 10%;
}
.mat-column-currentSource {
  flex: 0 0 50%;
}
.mat-row {
  height: auto;
}

.mat-cell,
.mat-header-cell {
  padding: 8px 8px 8px 0;
}


.fab-container {
  flex-grow: 1;
}

.md-fab-right {
  left: 550px;
  position: absolute !important;
  bottom: 0;
}
