<div class="wrapper">
  <h3>Status</h3>
  <div *ngIf="isLoading | async;else content">
    <mat-spinner class="loading-spinner"></mat-spinner>
  </div>
  <ng-template #content>
    <table [dataSource]="screens$" class="mat-elevation-z8" mat-table>
      <ng-container matColumnDef="actions">
        <th *matHeaderCellDef mat-header-cell>Actions</th>
        <td *matCellDef="let screen" mat-cell>
          <button (click)="suspendScreen(screen)" color="warn" mat-icon-button matTooltip="Stop Screen">
            <mat-icon>stop</mat-icon>
          </button>
      </ng-container>
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell>Screen-Name</th>
        <td *matCellDef="let screen" mat-cell>{{screen.screenName}}</td>
      </ng-container>
      <ng-container matColumnDef="isPaused">
        <th *matHeaderCellDef mat-header-cell>Status</th>
        <td *matCellDef="let screen" mat-cell>
          <mat-chip-list>
            <ng-template [ngIfElse]="elseBlock" [ngIf]="!screen.isPaused && !screen.ended">
              <ng-template [ngIfElse]="repeatBlock" [ngIf]="!screen.repeat">
                <mat-chip style="background-color: forestgreen;">Playing</mat-chip>
              </ng-template>
              <ng-template #repeatBlock>
                <mat-chip style="background-color: forestgreen;">Repeating</mat-chip>
              </ng-template>
            </ng-template>
            <ng-template #elseBlock>
              <ng-template [ngIfElse]="elseBlock2" [ngIf]="screen.isPaused && !screen.ended">
                <mat-chip color="accent">Paused</mat-chip>
              </ng-template>
              <ng-template #elseBlock2>
                <mat-chip>Ended</mat-chip>
              </ng-template>
            </ng-template>
          </mat-chip-list>
        </td>
      </ng-container>
      <ng-container matColumnDef="currentTime">
        <th *matHeaderCellDef mat-header-cell>Current Time</th>
        <td *matCellDef="let screen" mat-cell>{{screen.currentTime | minuteSeconds}}</td>
      </ng-container>
      <ng-container matColumnDef="duration">
        <th *matHeaderCellDef mat-header-cell>Duration</th>
        <td *matCellDef="let screen" mat-cell>{{screen.duration | minuteSeconds}}</td>
      </ng-container>
      <ng-container matColumnDef="currentSource">
        <th *matHeaderCellDef mat-header-cell>Currently Playing</th>
        <td *matCellDef="let screen" mat-cell>{{screen.currentSource}}</td>
      </ng-container>
      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
  </ng-template>
  <div class="fab-container">
    <button (click)="refresh()" class="md-fab-right" color="accent" mat-fab matTooltip="Refresh">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
</div>
