<div class="footer border-top-3 pl-3 pt-2 pr-3">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm">
        <button class="btn btn-danger btn-circle btn-xl" (click)="stop()">
          <fa-icon [icon]="faStop"></fa-icon>
        </button>
      </div>
      <div class="col-sm">
        <button class="btn btn-primary btn-circle btn-xl" (click)="resume()">
          <fa-icon [icon]="faPlay"></fa-icon>
        </button>
      </div>
      <div class="col-sm">
        <button class="btn btn-warning btn-circle btn-xl" (click)="pause()">
          <fa-icon [icon]="faPause"></fa-icon>
        </button>
      </div>
      <div class="col-sm">
        <div class="row align-items-center">
          <div class="col-xs-6 pr-1">
            <label>Repeat</label>
          </div>
          <div class="col-xs-6">
            <ui-switch (change)="toggleReplay($event)"></ui-switch>
          </div>
        </div>
      </div>
    </div>
    <!--<button class="play-btn mx-auto">
      <fa-icon *ngIf="paused" [icon]="faPlay" (click)="resume()"></fa-icon>
      <fa-icon *ngIf="!paused" [icon]="faPause" (click)="pause()"></fa-icon>
    </button>-->
  </div>

</div>
