# Allow access to everything
add_ace group.admin hypnonema allow

# Allow editing screens
#add_ace builtin.everyone hypnonema.screens allow
#add_ace builtin.everyone hypnonema.screens.edit allow      # Allow editing existing screens
#add_ace builtin.everyone hypnonema.screens.create allow    # Allow creating screens
#add_ace builtin.everyone hypnonema.screens.delete allow    # Allow deleting screens

# Allow playing videos
#add_ace builtin.everyone hypnonema.playback allow
#add_ace builtin.everyone hypnonema.playback.play allow     # Allow playing videos
#add_ace builtin.everyone hypnonema.playback.resume allow   # Allow resuming paused videos
#add_ace builtin.everyone hypnonema.playback.pause allow    # ALlow pausing currently playing videos
#add_ace builtin.everyone hypnonema.playback.stop allow     # Allow stopping currently playing videos
#add_ace builtin.everyone hypnonema.playback.close allow    # Allow closing currently open screens




