<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false"
               class="sidenav">

    <mat-nav-list style="padding-bottom: 45px">
      <mat-divider></mat-divider>
      <h2 matSubheader>Menu</h2>
      <a href="#" mat-list-item routerLink="/status">
        <i>
          <mat-icon>data_usage</mat-icon>
        </i>
        Status</a>
      <a href="#" mat-list-item routerLink="/quick-play">
        <i>
          <mat-icon>add_to_queue</mat-icon>
        </i>
        Quick Play
      </a>

      <a href="#" mat-list-item routerLink="/screens">
        <i>
          <mat-icon>list</mat-icon>
        </i>
        Screens</a>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <div style="padding: 10px;max-height: 420px">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
