<div class="wrapper">
  <div class="screens-table">
    <h3>Screens</h3>
    <table [dataSource]="screens$" class="mat-elevation-z8" mat-table>
      <ng-container matColumnDef="actions">
        <th *matHeaderCellDef mat-header-cell>Actions</th>
        <td *matCellDef="let screen" mat-cell>
          <button (click)="editScreen(screen)" aria-label="Edit Screen" color="accent" mat-icon-button
                  matTooltip="Edit Screen">
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="deleteScreen(screen)" aria-label="Delete Screen" color="warn" mat-icon-button
                  matTooltip="Delete Screen">
            <mat-icon>delete</mat-icon>
          </button>
      </ng-container>
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell>Name</th>
        <td *matCellDef="let screen" mat-cell>{{screen.name}}</td>
      </ng-container>
      <ng-container matColumnDef="alwaysOn">
        <th *matHeaderCellDef mat-header-cell>Always On</th>
        <td *matCellDef="let screen" mat-cell>{{screen.alwaysOn}}</td>
      </ng-container>
      <ng-container matColumnDef="modelName">
        <th *matHeaderCellDef mat-header-cell>Model-Name</th>
        <td *matCellDef="let screen" mat-cell>{{screen.targetSettings?.modelName}}</td>
      </ng-container>
      <ng-container matColumnDef="targetName">
        <th *matHeaderCellDef mat-header-cell>RenderTarget Name</th>
        <td *matCellDef="let screen" mat-cell>{{screen.targetSettings?.renderTargetName}}</td>
      </ng-container>
      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
  </div>
  <div class="fab-container">
    <button class="md-fab-right" color="primary" mat-fab matTooltip="create a new Screen"
            routerLink="/screens/create-new-screen">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
