<h3 class="text-center">Settings</h3>
  <div class="clearfix">
    <strong class="float-left">Global Volume</strong><br />
    <nouislider [tooltips]="[true]" [min]="1" [max]="100" [step]="5" [format]="formatter" (end)="volumeChange()" [(ngModel)]="volume"></nouislider>
  </div>
<small>Hint: This is the global volume which is used for the actual volume calculation. </small>
<div class="clearfix pt-4">
  <strong class="float-left pb-1">Sound Min Distance </strong> <br />
  <nouislider [tooltips]="[true]" class="pt-4" [min]="1" [max]="100" [step]="5" [format]="formatter" (end)="soundMinDistanceChange()"  [(ngModel)]="soundMinDistance"></nouislider>
</div>
<small>Hint: The minimum distance is the distance under which the sound will be heard at its maximum volume.</small>
<div class="clearfix pt-4">
  <strong class="pb-2">Sound Attenuation</strong><br />
  <nouislider class="pt-4" [tooltips]="[true]" [min]="5" [max]="100" [step]="5" [format]="formatter" (end)="soundAttenuationChange()" [(ngModel)]="soundAttenuation"></nouislider>
</div>
<small>Hint: The greater the attenuation, the less it will be heard when the sound moves away from the listener.</small>
